<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.xrm.client" type="Microsoft.Xrm.Client.Configuration.CrmSection, Microsoft.Xrm.Client" />
  </configSections>
  <connectionStrings>
    <!--<add name="Xrm" connectionString="Server=https://crmph.crm5.dynamics.com; Domain=crmph.crm5.dynamics.com; Username=admin@crmph.onmicrosoft.com; Password=2Winter*8" />-->

    <add name="Xrm" connectionString="Url=https://crmph.crm5.dynamics.com; Username=admin@crmph.onmicrosoft.com; Password=2Winter*8"/>

  </connectionStrings>
  <microsoft.xrm.client>
    <contexts>
      <add name="Xrm" type="Xrm.XrmServiceContext, FindObject" />
    </contexts>
  </microsoft.xrm.client>
</configuration>
